<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>All Users</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>All users</h1>
    <ul>
        <%if(users.length !== 0) {%>
        <% users.forEach((users)=>{ %>
        <a href="/users/<%=users._id%>">
          <%= users.username %>
        </a>
        <% }) %>
        <%}else{%>
          <h2>There are no active users.</h2>
        <%}%>
      </ul>
</body>
</html>